﻿@model BazaSmogu.Models.SmogMeasure

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>SmogMeasure</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PM10)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PM10)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PM25)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PM25)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pressure)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pressure)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Temperature)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Temperature)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MeasureDateTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MeasureDateTime)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
